{% extends 'base.html' %}
{% block content %}

<h1>Accessorie Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ accessory }}</span>
        <p>Color: {{ accessory.color }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'acessories_update' accessory.id %}">Edit</a>
        <a href="{% url 'acessories_delete' accessory.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}