{% extends 'base.html' %}

{% block content %}
    {% if object %}
    <h1>Edit <span class="teal-text">{{object}}</span></h1>
  {% else %}
    <h1>Add Motorcycle</h1>
  {% endif %}

    <div class="card">
      <form action="" method="post">
        <!-- Django requires the following for security purposes -->
        {% csrf_token %}
        <table>
          <!-- Render the inputs inside of <tr>s & <td>s -->
          {{ form.as_table }}
        </table>
        <div class="center">
        <input type="submit" value="Submit!" class="btn">
        </div>
      </form>
    </div>
{% endblock %}