body {
  display: flex;
  background-color: rgb(7, 74, 106);
  color: #039be5;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  box-shadow: 35px 35px 15px 30px rgba(#0a172e);
  text-align: center;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.card {
  background-color: rgba(25, 26, 26, 0.947);
  box-shadow: 15px 10px 2px 2px rgba(35, 41, 58, 0.5);
  border-radius: 15px 15px 15px 15px;
  color: #039be5;

}

.nav-wrapper, .page-footer {
  background-color: black;
  color: white;
}

hr {
  border-color: #039be5;
}

.navbar-fixed a {
  font-size: 1.5em;
}

label, input {
  color: #039be5;
}

.btn {
  background-color: rgb(7, 74, 106);
  color: #039be5;
  margin-bottom: 10px;
}