{% extends 'base.html' %}
{% block content %}

<h1>Motorcycle Details</h1>

<div class="card">
  <div class="card-content">
        <span class="card-title">{{ motorcycle.brand }} {{ motorcycle.model }}</span>
        <p>Year: {{ motorcycle.year }}</p>
        <p>Style: {{ motorcycle.style }}</p>
        <p>Color: {{ motorcycle.color }}</p>
          <div class="card-action">
            <a href="{% url 'motorcycles_update' motorcycle.id %}">Edit</a>
            <a href="{% url 'motorcycles_delete' motorcycle.id %}">Delete</a>
          </div>
      </div>
</div>

{% endblock %}