{% extends 'base.html' %}
{% block content %}

<h1>Motorcycle Details</h1>

<div class="card">
  <div class="card-content">
        <span class="card-title">{{ motorcycle.brand }} {{ motorcycle.model }}</span>
        <p>Year: {{ motorcycle.year }}</p>
        <p>Style: {{ motorcycle.style }}</p>
        <p>Color: {{ motorcycle.color }}</p>
          <div class="card-action">
            <a href="{% url 'motorcycles_update' motorcycle.id %}">Edit</a>
            <a href="{% url 'motorcycles_delete' motorcycle.id %}">Delete</a>
          </div>
      </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ motorcycle }}'s Accessories</h3>
    {% if motorcycle.accs.count %}
      {% for acc in motorcycle.accs.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ acc.color }}">{{ acc.color }}</span> {{ acc.name }} {{ acc.size}}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_acc' motorcycle.id acc.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Accessories :(</h5>
    {% endif %}
  </div>
  <!-- Available accessories will come after this line -->
    <div class="col s6">
    <h3>Available Accessories</h3>
    {% if accs.count %}
      {% for acc in accs.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ acc.color }}">{{ acc.color }}</span> {{ acc.name }} {{ acc.size}}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_acc' motorcycle.id acc.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{motorcycle}} Already Has All Accessories Available</h5>
    {% endif %}
  </div>
</div>

{% endblock %}